.header {
    background-color: #2f3136;
    color: white;
    &_logo {
        &_wrap {
            align-self: center;
            display: flex;
        }
        img {
            height: 32px;
            vertical-align: middle;
        }
    }
    nav {
        align-self: center;
    }
    .gems {
        &_wrap {
            align-self: center;
            padding: 1rem;
        }
    }
}