// Colors
$color--main: #0F5CA3;
$color--main--dark: #0B416F;
$color--grey: #ccc;
$dark: #000;
$white: #fff;
$bot-blue: #7087d7;
$bot-light-blue: #EFF2FB;

// Fonts
$font--main: "Open Sans", sans-serif;

// Sizes
$layout-tablet: 768px;
$layout-mobile: 425px;