// Colors
$color--main: #0F5CA3;
$color--main--dark: #0B416F;
$color--grey: #ccc;
$dark: #000;
$white: #fff;
$bot-blue: #7087d7;
$bot-light-blue: #EFF2FB;
$light-red: #FF7F7F;
$red: #D70040;
$dark-red: #8d002a;
$green: #4CBB17;
$dark-green: #358012;

// Fonts
$font--main: "Open Sans", sans-serif;

// Sizes
$layout-tablet: 768px;
$layout-mobile: 425px;